

#corrent_chat_name_area {
    height: 80px;
    align-items: center;
    display: flex;
    background-color: rgb(49, 49, 49);
    /* border-bottom-color: #b0b0b049;
    border: 1px;
    border-style: solid; */

}

#corrent_chat_name_area>img {
    
    width: 60px;
    height: 60px; 
    margin-left: 15px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

#corrent_chat_name_area>.friend_name{
    font-size: x-large;
    text-align: left;
    margin-left: 15px;
    font-family: serif;
    color: rgb(255, 255, 255);

}



.logout {
    position: relative;
    right: 2vh;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.color {
    position: relative;
    right: 30px;
}

/* light_mode */


#corrent_chat_name_area.light_mode {

    background-color: #058175;
    border-bottom-color: black;


}


